body {
    background-color: white;
    color: #222;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 0;
}
/* boilerplate to make buttons stylable */
button, input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* commence header code */
header {
    width: auto;
    height: 60px;
}
header ul {
    margin: 0;
    line-height: 60px;
    padding: 0;
}
header ul li {
    display: block;
}
header .left{
    height: 60px;
    width: 50%;
    float: left;
}
header .left ul li{
    float: left;
    list-style: none;
    margin-left: 15px;
    margin-right: 5px;
}
header .right {
    height: 60px;
    width: 50%;
    float: right;
}
header .right ul li{
    float: right;
    list-style: none;
    margin-right: 15px;
    margin-left: 5px;
    text-align: center;
}
header .right img{
    height: 32px;
    width: 32px;
    vertical-align: middle;
    border-radius: 16px;
}
header .right svg{
    color: #5f6368;
    fill: currentColor;
    height: 25px;
    width: 25px;
    vertical-align: middle;
}
header a {
    color: #222;
    text-decoration: none;
}
header a:hover {
    color: #222;
    text-decoration: underline;
}

/* commence footer code */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 46px;
    background-color: #f2f2f2;
}
footer .left {
    width: 50%;
    height: 46px;
    float: left;
}
footer .right {
    width: 50%;
    height: 46px;
    float: right;
}
footer ul {
    margin: 0;
    line-height: 46px;
    padding: 0;
}
footer ul li {
    display: block;
}
footer .left ul li {
    float: left;
    list-style: none;
    margin-left: 20px;
    margin-right: 10px;
}
footer .right ul li {
    float: right;
    list-style: none;
    margin-right: 20px;
    margin-left: 10px;
    text-align: center;
}
footer a {
    color: #70757a;
    text-decoration: none;
}
footer a:hover {
    color: #70757a;
    text-decoration: underline;
}

/* commence search area code */
main {
    width: 582px;
    margin: auto;
}
main .inner {
    width: 582px;
    height: 230px;
    margin-top: 30%; /* hackey workaround. Will fix later */
}
main .inner #logo-box {
    width: 272px;
    height: 92px;
    margin: auto;
}

main .inner form {
    height: 138px;
    width: 582px;
    margin-top: 30px;
}

main .inner form #search-box {
    width: 582px;
    height: 46px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
/*hover behavior*/
main .inner form #search-box:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}
main .inner form #search-box .left {
    height: 46px;
    width: 35px;
    float: left;
    line-height: 46px;
}
main .inner form #search-box .left svg{
    color: #9aa0a6;
    fill: currentColor;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 13px;
}
main .inner form #search-box .right {
    height: 46px;
    width: 547px;
    float: right;
}
main .inner form #search-box .right input[type='search'] {
    height: 46px;
    width: 532px;
    border: 0;
    font-size: 16px;
    background: transparent;
}
main .inner form #search-box .right input[type='search']:focus {
    border: 0;
    outline-width: 0;
}
main .inner form #search-box .right input[type='search']:active {
    outline-width: 0;
}

/* button code */

/* basic styling */
#btn-box button {
    color: #3c4043;
    background-color: #f8f9fa;
    border-radius: 4px;
    margin: 11px 4px;
    height: 34px;
    padding: 0 16px;
    line-height: 27px;
    border: 1px solid #f8f9fa;
    display: inline;
}
#btn-box button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
}
#btn-box button:focus {
    border: 1px solid #4d90fe;
    outline: none;
}
/* arrangement */
#btn-box {
    text-align: center;
    height: 100px;
    line-height: 100px;
}